
.img {

margin: auto;

}

canvas {

    display: block;

    margin: auto;

}

   body {

            padding: 0px;

            margin: 0px;

        background: black; 

        text-align: center;        

        }

 p {

            color: white;
<<<<<<< HEAD

            font-family: 'Segoe UI';

=======
            font-family: 'Segoe UI';
>>>>>>> cb009654083352dbdd92977ea9161b08242afd5f
            font-size: 160%;

 }